@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');

.container {
    display: grid;
    align-items: center;
    grid-template-columns: 0.3fr 1.5fr 0.3fr;
    gap: 20px;
    width: 100%;
    height: 90px;
    place-items: center;
    margin: 5px;
}

#bookmark_btn {
    display: flex;
    align-items: center;
    font-size: 0.7rem;
    background-color: transparent;
    color: rgb(5, 8, 28);
    border: 1.5px solid rgb(186, 220, 255);
    border-radius: 20px;
    font-family: 'Orbit', sans-serif;
    padding: 3px 9px;
    cursor: pointer;
    max-width: 80px;
}
#bookmark_btn:hover {
    background-color: rgb(13, 69, 129);
    color: rgb(255, 235, 105);
}

.logo_img {
    max-width: 100%;
    height: 70px;
    margin: auto;
    display: block;
}

#login_btn {
    display: flex;
    align-items: center;
    font-size: 0.7rem;
    background-color: transparent;
    color: rgb(5, 8, 28);
    border: 1.5px solid rgb(186, 220, 255);
    border-radius: 20px;
    font-family: 'Orbit', sans-serif;
    padding: 3px 9px;
    cursor: pointer;
    max-width: 70px;
}
#login_btn:hover {
    background-color: rgb(13, 69, 129);
    color: rgb(218, 255, 85);
}

@media(min-width:580px) {
    #bookmark_btn{
        font-size: 0.75rem;
        padding: 5px 15px;
    }
    #login_btn{
        font-size: 0.75rem;
        padding: 5px 15px;
    }
}