@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.produce {
    border: 0;
    border-radius: 10px;
    background-color: rgb(169, 218, 255);
    padding: 15px;
    margin: 0 auto;
}

.mem_logo {
    max-width: 100%;
    margin: auto;
    display: block;
}

.text-field {
    font-size: 13px;
    font-family: 'Orbit', sans-serif;
    margin-bottom: 15px;
    border: none;
    border-radius: 15px;
    padding: 10px;
    width: 100%;
}

.mem_btn {
    color: darkslateblue;
    font-size: 15px;
    font-family: 'Orbit', sans-serif;
    background-color: rgb(223, 240, 255);
    margin-bottom: 35px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}