@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');

html {
    padding: 0;
    margin: 0;
    width: 100%;
}
body {
    background-color: rgb(99, 105, 124);
}

#header_container {
    height: 300px;
}


.category {
    display: grid;
    align-items: center;
    grid-template-columns: 0.8fr 0.8fr 1fr 1.1fr 1fr 0.8fr 0.8fr;
    gap: 5px;
    text-align: center;
    height: 30px;
    width: 100%;
    font-family: 'Orbit', sans-serif;
    font-size: 0.5rem;
    background-color: rgb(13, 69, 129);
    white-space: nowrap;
}
.cat_item {
    color: rgb(230, 242, 253);
    cursor: pointer;
}
.cat_item:hover {
    color: azure;
    background-color: rgb(16, 76, 141);
    padding: 3px 1px 3px 1px;
}


.info {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: stretch;
    align-content: stretch;
    justify-items: center;
    align-items: center;
    grid-auto-rows: minmax(100px, auto);
    gap: 30px;
    white-space: nowrap;
}


.page {
    display: grid;
    grid-template-columns: 3rem 3rem 3rem 3rem 3rem 3rem;
    gap: 10px;
    justify-content: center;
    align-content: center;
    text-align: center;
    align-items: center;
}
.num_btn {
    width: 30px;
    height: 30px;
    font-size: 13px;
}
/* 페이지 버튼 꾸미기 */

/* 창의 가로 길이에 따라 조절(반응) 너비가 580px 이상일 때*/
@media(min-width:580px) {
    html {
        max-width: 100%;
    }
    .category{
        font-size: 1rem;
    }
    .info{
        grid-template-columns: repeat(2, 1fr);
    }
}