@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');

html {
    background-color: rgb(99, 105, 124);
    width: 100%;
}
body {
    margin: 0;
}

/* 헤더 */
#header_container {
    background-color: #f2f2f2;
    padding: 10px;
}

/* 카테고리 */
.category {
    display: grid;
    align-items: center;
    grid-template-columns: 0.8fr 0.8fr 1fr 1.1fr 1fr 0.8fr 0.8fr;
    gap: 5px;
    text-align: center;
    height: 30px;
    width: 100%;
    font-family: 'Orbit', sans-serif;
    font-size: 0.3rem;
    background-color: rgb(13, 69, 129);
    white-space: nowrap;
}
.cat_item {
    color: rgb(230, 242, 253);
    cursor: pointer;
}
.cat_item:hover {
    color: azure;
    background-color: rgb(16, 76, 141);
    padding: 3px 1px 3px 1px;
}

/* 섹션 */
.info {
    max-width: 1200px;
    margin: 0 auto;
}
.game {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.component img {
    max-width: 100%;
    display: block;
}
.component .simple {
    text-align: center;
    padding: 1rem;
    margin-bottom: 2rem;
    background-color: white;
}
.simple h3 {
    margin: 0;
    font-size: 1.3rem;
    line-height: 1.5;
    font-weight: 700;
    font-family: 'Orbit', sans-serif;
}
.simple .info_btn {
    display: block;
    text-decoration: none;
    background-color: rgb(156, 197, 255);
    padding: 0.6rem 2rem;
    margin-top: 1rem;
    color: white;
}

/* 페이지 버튼 */
.page {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, auto));
    grid-template-columns: 30px 30px 30px 30px 30px 30px;
    gap: 10px;
    justify-content: center;
    align-content: center;
    text-align: center;
    justify-items: center;
    align-items: center;
}

/* 창의 가로 길이에 따라 조절(반응) 너비가 580px 이상일 때*/
@media(min-width:580px) {
    html {
        max-width: 100%;
    }
    .category{
        font-size: 0.8rem;
    }
    .component {
        flex: 0 0 calc(50% - 1rem);
    }
}