@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');

.info {
    max-width: 1200px;
    margin: 0 auto;
}

.game {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.component img {
    max-width: 100%;
    display: block;
}

.component .simple {
    text-align: center;
    padding: 1rem;
    margin-bottom: 2rem;
    background-color: white;
}

.simple h3 {
    margin: 0;
    font-size: 1.3rem;
    line-height: 1.5;
    font-weight: 700;
    font-family: 'Orbit', sans-serif;
}

.simple .info_btn {
    display: block;
    text-decoration: none;
    background-color: rgb(156, 197, 255);
    padding: 0.6rem 2rem;
    margin-top: 1rem;
    color: white;
}

@media (min-width: 580px) {
    .component {
        flex: 0 0 calc(50% - 1rem);
    }
}